@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
    @font-face {
        font-family: 'discord';
        font-style: normal;
        font-weight: normal;
        src: url('https://assets-delta-eight.vercel.app/gg%20sans%20Semibold.woff') format('woff');
        }
        
.noa-canvas{
    width:75% !important;
    height:75% !important;
    transform:scale(1.25);
    filter:brightness(105%) contrast(105%);
}
.GameAdsBanner{
    opacity:0!important;
}
.SettingsMenuRight,.SettingsMenuLeft,.Inventory,.InviteLinkBox,.CharCustomisation,.TopRightElements,.BottomLeftElements,.SettingsMenuRight,.SettingsMenu{
    opacity:0.95 !important;
}
.InventoryAdOuter{
    opacity:0 !important;
}
.SettingsAdOuter{
    opacity:0!important;
}
.HomeBannerDiv{
    opacity:0!important;
}
.CrossHair{
    opacity:0.75 !important;
    border-style:outset;
    border-width:4px !important;
    border-color:rgb(252, 224, 139);
    border-radius:100px;
}
.TopRightElements{
    top:0.5rem !important;
    right:0.5rem !important;
}
.GameBadgeMain{
    border-radius:10px !important;
}
.FullyFancyText{
    font-family: "Kalam", cursive !important;
}
.item{
    transform:scale(0.95);
    background-color:mediumslateblue!important;
    border-color:mediumaquamarine!important;
    opacity:0.75!important;
}
.SelectedItem{
    background-color:rgb(35, 35, 199) !important;
}
.GameBadgeBottom{
    display:none !important;
}
.AvailableGameTextWrapperBackground{
    background-color: transparent !important;
}
.HeaderRightBackground{
    background-color: transparent!important;
}

.UpdateLogPopupTitle {
    font-family:"discord", sans-serif !important;
    visibility: hidden !important;
    position: relative !important;
}
.UpdateLogPopupTitle:after {
    visibility: visible !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    content: "#dev-log" !important;
}
.HomeBackground{
    background-image:url('https://assets-delta-eight.vercel.app/41524.jpg') !important;
}
/*©Copyright 2024-2026
Some Rights Reserved
CSS and models with some textures by Blxm
other textures 'Bare_Bones' by A_I_X
Permission is not granted to change or use css and model textures
Skybox by babylonJS not copyright
*/